.elempage-button-group .elempage-button-selected {
    color: '#007bff';
}

.elem-page {
 width: 100%;
 padding-left: 16px;
 box-sizing: border-box;
}

.sample-page {
   height: 200px;
   background: lightblue;
}
