.details-page-img {
    height: 250px;
    margin: 8px;
}

.details-page-img-hor {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    height: 250px;
    margin: 8px;
}

.details-page-card {
    max-width: 345px;
}

.details-page-card .details-page-icon-button {
    background: lightgray;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    z-index: 3;
}