.ListItem {
    width: 400px;
    align-items: center;
    box-sizing: border-box;
    background-color: #fff;
    height: 72px;
    display: flex;
  }

  .BouncingListItem {
    transition: transform 0.5s ease-out;
    width: 400px;
    align-items: center;
    box-sizing: border-box;
    background-color: #fff;
    height: 72px;
    display: flex;
  }
  
  .Background {
    position: absolute;
    width: 400px;
    height: 72px;
    z-index: -1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 16px;
    color: white;
    background-color: #f44336;
    box-sizing: border-box;
  }
  
  .Wrapper {
    position: relative;
    width: 400px;
    height: 72px;
  }